{% extends "blog/base.html" %}

{% block content %}
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        {% if form.errors %}
            <div class="form-text text-danger">Your username and password didn't match. Please try again.</div>
        {% endif %}
        <input type="submit" class="btn btn-default" value="LOG IN" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
