{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django blog</title>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <!-- font/css -->
        <link href="{% static 'fonts/jf-openhuninn-2.0.ttf' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <!-- fixed-top -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-base">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Django Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto my-2 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %} active {% endif %}" aria-current="page" href="/">Home</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/post/new/' %} active {% endif %}" aria-current="page" href="{% url 'post_new' %}">New Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/drafts/' %} active {% endif %}" aria-current="page" href="{% url 'post_draft_list' %}">Draft List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Login Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/accounts/login/' %} active {% endif %}" aria-current="page" href="{% url 'login' %}">Login In</a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- <div> -->
                    {% if user.is_authenticated %}
                    <div style="display: flex;" class="float-md-end">
                        <span class="nav-text">Hello, {{ user.username }}</span>
                        <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Login Out</a>
                    </div>
                    {% endif %}
                    <!-- </div> -->
                </div>
                
            </div>
        </nav>
        <div class="container">
            <div class="content">
                <div class="row">
                    <!-- 待刪除style  style="border: 1px solid purple;" -->
                    <!-- <div class="col-md-2 col-sm-3">
                        <div class="img-logo">
                            <img src="./static/image/logo.png" />
                        </div>
                    </div> -->
                    <div class="col-md-10 col-sm"><!-- 待刪除style style="border: 1px solid black !important;" -->
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>