{% extends 'blog/base.html' %}

{% block content %}
    <div class="d-flex justify-content-start pt-3">
        <h1>{{ post.title }}</h1>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {% if post.published_date %}
            <span>{{ post.published_date|date:'Y-m-d H:m' }}</span>
        {% else %}
            <span></span>
        {% endif %}
        <div class="mb-2 mb-md-0">
            {% if post.author|lower == user.username|lower %}
                {% if not post.published_date %}
                    <a class="btn btn-sm btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a class="btn btn-sm btn-default" href="{% url 'post_edit' pk=post.pk %}">
                        {% include './icons/pencil.svg' %}
                    </a>
                    <a class="btn btn-sm btn-default" href="{% url 'post_remove' pk=post.pk %}">
                        {% include './icons/trash.svg' %}
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <div class="d-flex justify-content-end pb-2 border-bottom">
        <a class="btn btn-sm btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">
            Add comment {% include './icons/chat-left-dots.svg' %}
        </a>
    </div>
    <div class="pt-3 pb-2">
        {% for comment in post.comments.all %}
            {% if user.is_authenticated and post.author|lower == user.username|lower %}
                <div class="d-flex justify-content-between">
                    <div class="flex-fill fw-bold">{% include './icons/person-fill.svg' %} {{ comment.author }}</div>
                    <div class="px-2">
                        {{ comment.created_date|date:'Y-m-d H:m' }}
                    </div>
                    <div class="mb-2 mb-md-0">
                        {% if not comment.approved_comment %}
                            <a class="btn btn-sm btn-default" href="{% url 'comment_approve' pk=comment.pk %}">{% include './icons/eye.svg' %}</a>
                            <a class="btn btn-sm btn-default disabled" href="{% url 'comment_remove' pk=comment.pk %}">{% include './icons/eye-slash.svg' %}</a>
                        {% else %}
                            <a class="btn btn-sm btn-default disabled" href="{% url 'comment_approve' pk=comment.pk %}">{% include './icons/eye.svg' %}</a>
                            <a class="btn btn-sm btn-default" href="{% url 'comment_remove' pk=comment.pk %}">{% include './icons/eye-slash.svg' %}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="p-2">
                    <div class="bg-lightbase ps-4 rounded-3 pt-2 pb-1">
                        {{ comment.text|linebreaks }}
                    </div>
                </div>
            {% else %}
                {% if post.approved_comments.count != 0 and comment.approved_comment %}
                    <div class="d-flex justify-content-between">
                        <div class="flex-fill fw-bold">{% include './icons/person-fill.svg' %} {{ comment.author }}</div>
                        <div class="px-2">
                            {{ comment.created_date|date:'Y-m-d H:m' }}
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="bg-lightbase ps-4 rounded-3 pt-2 pb-1">
                            {{ comment.text|linebreaks }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% empty %}
            <span>No comments here yet :(</span>
        {% endfor %}
    </div>
{% endblock %}
