{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <div class="border-bottom pt-3 pb-3">
        <div class="post-title">
            {% now "Y-m" as current_month %}
            {% if current_month == post.published_date|date:'Y-m' %}
            <span>new</span>
            {% endif %}
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        </div>
        <div class="d-flex justify-content-end">
            <div class="flex-fill pt-1">
                <figcaption class="blockquote-footer">
                    {{ post.author }}
                </figcaption>
            </div>
            <div class="px-2 post-date align-self-center">
                {{ post.published_date|date:'Y-m-d H:m' }}
            </div>
            <div>
                <a class="btn btn-sm btn-default" href="{% url 'post_detail' pk=post.pk %}">
                    {{ post.approved_comments.count }} {% include './icons/chat-left-dots.svg' %}
                </a>
            </div>
        </div>
        <div class="post-content">
            {{ post.text|linebreaksbr }}
        </div>
    </div>
    {% endfor %}
{% endblock %}
